<!-- link the css -->
<link rel="stylesheet" href="/css/header.css">

<!-- UI for header -->
<div class="header-container">
  <div class="container">
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="/"><cite><i class="fa-solid fa-location-crosshairs fa-beat-fade fa-xl"></i>&nbsp;Issue Tracker</cite></a>
        <%if (title=="Project Page" ){%>
          <%-include('_issue_form');%>
            <%}else{%>
              <%-include('_project_form');%>

                <%}%>
      </div>
    </nav>
  </div>
</div>